@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-family: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.conteiner{
    width: 65.3%;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
header{
    position: absolute;
    color: #fff;
    padding-top: 36px;
    width: 100%; 
}
header .conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
header a{
     font-size: 20px;
     font-weight: 700;
     line-height: 24px;
     color: #fff;
     top: 0;
     left: 0;
}
header div {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    display: flex;
    column-gap: 19px;
    top: 0;
    right: 0;
}
.button{
    padding: 10px 18px 10px 18px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.6s ease;
    border: none;
    color: #fff;
}
.button:hover {
    transform: scale(1.12);
}
.bordered{
    background: none;
    border: 2px solid #fff;
}
.hero_section{
    background: url(../img/Background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.hero_section h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 63px;
    max-width: 470px;
    color:#fff;
}
.hero_section p{
    font-size: 24px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 29px;
    color:#fff;
    font-family: "Roboto", sans-serif;
}
.hero_section button{
    background-color: #FF4E50;
    color: #fff;
    padding: 11px 19px;
    border: none;
    font-family: "Montserrat", sans-serif;
    margin-top: 33px;
}
.reg-heading {
    font-size: 26px;
    color: #444;
    margin-bottom: 35px;
    text-align: center;
    padding-top: 35px;
}
.how_it_works{
    margin-top: 90px;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card{
    max-width: 300px;
    position: relative;
    color: #fff;
}
.cards img{
    border-radius: 4px;
}
.card_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 0;
    padding: 21px 25px;
}
.card_content span{
    border: none;
    color: #fff;
    background-color: #FF4E50;
    border-radius: 40px;
    padding: 5px 14px 3px 14px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
}
.card_content p{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    color: #E3E3E3;
}
.meet_a_partner{
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_content h3{
    padding-top: 18px;
    padding-bottom: 10px;
}
.profiles{
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
}
.profile{
    width: calc(25% - 19px);
    text-align: center;
}
.profile h6{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    padding: 17px 0 12px;
}
.profile p{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    color: #666666;
}
.meet_a_partner button{
    border: 2px solid #FF4E50;
    color: #FF4E50;
    background-color: #fff;
    border-radius: 40px;
    padding: 12px 19px 11px 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
}